@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  scroll-behavior: scroll;
}

html {
  font-family: "Roboto", monospace;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
  display: block;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: center;
  background-image: url("./images/white-parchment-paper-texture.jpg");
  background-color: #fff;
  background-size: cover;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
}